<section class="container m-5">
  <h1 class="text-primary mb-5">Centro de mensajes </h1>
  <input type="text" id="email" placeholder="Tu email" />
  <form class="form">
    <hr />
    <div id="messages" class="my-2"> </div>
    <input type="text" id="text" placeholder="Deja tu mensaje..." />
    <button type="submit" id="enviar" class="btn btn-primary">Enviar</button>
  </form>

</section>