<main class="container">
  <h1 class="text-center">
    Productos Coder
  </h1>

  <h2>Ingrese un producto</h2>
  <form id="productsForm">
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input
        type="text"
        class="form-control"
        id="nombre"
        name="nombre"
        placeholder="Nombre"
      />
    </div>
    <div class="form-group">
      <label for="Precio">Precio</label>
      <input
        type="number"
        class="form-control"
        name="precio"
        id="precio"
        placeholder="Precio"
      />
    </div>
    <div class="form-group">
      <label for="imagen">Url imagen</label>
      <input
        type="text"
        class="form-control"
        id="urlImagen"
        name="urlImagen"
        placeholder="imagen"
      />
    </div>
    <button class="btn btn-success m-3" type="submit" id="guardar">Guardar</button>
  </form>
<div>
<h1>
    Productos
  </h1>
  <div >
    <table class="table table-light">
      <thead>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Foto</th>
      </thead>
      <tbody id="productos">
        
      </tbody>
    </table>
  </div>
</div>

{{> chat }}
</main>
